<section id="menu3" class="tab-pane animated fadeIn fast">
  <article role="contact" class="contact-pan">
    <header class="page-title">
      <h2>Stay in touch with us</h2>
    </header>
  <h3><a href="mailto:contacto@rqbauen.mx">contacto @ rqbauen.mx</a></h3>
  <ul>
    <li><i class="fa fa-map-marker" aria-hidden="true"></i> Collins Street West Victoria 8007 Australia.</li>
    <li><i class="fa fa-phone" aria-hidden="true"></i> <a href="tel:1-212-290-4700">+1-212-290-4700</a></li>
  </ul>
  </article>
</section>
