<section id="menu1" class="tab-pane animated fadeIn fast">
  <article role="introduction" class="introduction-pan">
  <header class="page-title">
    <h2>Our Introduction</h2>
  </header>
  <p>We are a team of talented people with big ideas and creative minds. We are here to make your website a lot<br/>
  more effective and profitable. Genesis Coming Soon Template is a perfect solution to keep your visitors inter-<br/>
  ested while preparing site for launch. We know what's the best and we're here for you. </p>

  <!-- services -->

  <ul role="services">
    <li> <i class="fa fa-diamond" aria-hidden="true"></i>
      <h6>Branding Consuting</h6>
      <p>We are a team of talented people<br/>
        with big ideas and creative.</p>
    </li>
    <li> <i class="fa fa-camera-retro" aria-hidden="true"></i>
      <h6>Fashion Photography</h6>
      <p>We are a team of talented people<br/>
        with big ideas and creative.</p>
    </li>
    <li> <i class="fa fa-bullhorn" aria-hidden="true"></i>
      <h6>Digital Marketing</h6>
      <p>We are a team of talented people<br/>
        with big ideas and creative.</p>
    </li>
  </ul>

  <!-- services -->

  </article>
</section>
