<section id="menu1" class="tab-pane animated fadeIn fast">
  <article role="introduction" class="introduction-pan">
  <header class="page-title">
    <h2>Nosotros | Servicios</h2>
  </header>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eveniet eligendi voluptatem a nesciunt. Repudiandae, consequatur, fugit facere delectus soluta quae nobis quis natus quas aliquid beatae. Cum, inventore, nihil. Rerum!</p>

  <!-- services -->

  <ul role="services">
    <li> <i class="fa fa-diamond" aria-hidden="true"></i>
      <h6>Branding Consuting</h6>
      <p>We are a team of talented people<br/>
        with big ideas and creative.</p>
    </li>
    <li> <i class="fa fa-camera-retro" aria-hidden="true"></i>
      <h6>Fashion Photography</h6>
      <p>We are a team of talented people<br/>
        with big ideas and creative.</p>
    </li>
    <li> <i class="fa fa-bullhorn" aria-hidden="true"></i>
      <h6>Digital Marketing</h6>
      <p>We are a team of talented people<br/>
        with big ideas and creative.</p>
    </li>
  </ul>

  <!-- services -->

  </article>
</section>
