<section id="home" class="tab-pane animated fadeIn fast">
  <article role="countdown" class="countdown-pan">
    <div id="countdown" class="text-center">
    <div class="days"><h2>Faltan <span>{{ dias | contador:'2017-11-30' }}</span> Días</h2></div>
  </div>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maiores aspernatur ex quam nobis, architecto, eos ullam, illum consequatur libero dolore, molestias. Adipisci, aperiam culpa esse, molestias excepturi omnis incidunt assumenda.</p>
  </article>
</section>
