<section id="menu2" class="tab-pane animated fadeIn fast">
  <article role="subscribe" class="subscribe-pan">
    <header class="page-title">
      <h2>Suscribete</h2>
    </header>
  <div class="ntify_form">
    <form method="post" action="php/subscribe.php" name="subscribeform" id="subscribeform">
      <input name="email" type="email" id="subemail" placeholder="Ingresa tu Email...">
      <label>
        <input name="" type="submit" class="button-icon">
      <i class="fa fa-paper-plane" aria-hidden="true"></i> </label>
    </form>

    <!-- subscribe message -->

    <div id="mesaj"></div>

    <!-- subscribe message -->

  </div>
    <p>Please enter your email below and we'll let you know once<br/>
    we're up and running.</p>
  </article>
</section>
